.carousel{
    position: relative;
    min-height: 280px;
    width: 1200px;
    .carousel-header{
      display: grid;
      grid-template-columns: 50px auto;
      grid-template-rows: repeat(2, 25px);
      padding: 0 60px;
      .icon{
        grid-column: 1;
        grid-row: span 2;
        align-self: center;
        justify-self: center;
        background: #2665ad;
        color: #fff;
        text-align: center;
        width: 40px;
        height: 30px;
        border-radius: 5px;
        line-height: 30px;
        vertical-align: middle
      }
      .title{
        grid-column: 2;
        grid-row: 1;
        color: #2665ad;
        font-size: 1.6rem;
      }
      .subtitle{
        grid-column: 2;
        grid-row: 2;
        color: #b1b1b1;
        font-size: 1.2rem;
      }
    }
    .carousel-container{
      position: relative;
      padding: 0 60px;
      .carousel-inner{
        overflow: hidden;
        position: relative;
        max-height: 100%;
        white-space: nowrap;
        &.grabbable{
          cursor: grab;
        }
        &.dragging {
          cursor: grabbing;
        }
        .track{
          display: inline-flex;
          transition: transform 0.5s;
          height:280px;
          .card {
            flex-shrink: 0;
            margin: 7px;
            height: 250px;
            width: 200px;
            background: #fff;
            border-radius: 5px;
            border: 1px solid rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
            display: grid;
            grid-template-columns: 200px;
            grid-template-rows:120px 130px;
            transition: all 0.2s ease-out;
            transform: scale(1);
            .card-image{
                position: relative;
                height: 120px;
                grid-column: 1;
                width: 200px;
                align-self: center;
                justify-self: center;
                color: #fff;
                font-size: 0.8rem;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                .type{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.6);
                    padding: 3px;
                    text-transform: uppercase;
                }
                .duration{
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(0, 0, 0, 0.6);
                    padding: 3px;
                }            
            }
            .card-detail{
                position: relative;
                padding: 10px;
                h2{
                  color: #2665ad;
                  font-size:1.2rem
                }
                p{
                    margin-top: 10px ;
                }
            }
            &.hide{
              animation: cardFadeOut 1s ease-out;
              animation-fill-mode: forwards;
            }
            &:hover{
              transform: scale(1.02);
            }
            &.loading{
                .card-image,h2,p{
                    background: #eee;
                    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
                    border-radius: 5px;
                    background-size: 200% 100%;
                    animation: 1.5s shine linear infinite;
                }
                .card-image{
                  img,.type,.duration{
                    display:none;
                  }
                }
                .card-detail{
                    h2{
                        height: 20px;
                    }
                    p{
                        height: 70px;
                    }
                }
            }
            &.collection {
              box-shadow:
              0 1px 1px rgba(0,0,0,0.15),
              0 10px 0 -5px #eee,
              0 10px 1px -4px rgba(0,0,0,0.15),
              0 20px 0 -10px #eee,
              0 20px 1px -9px rgba(0,0,0,0.15);
            }
          }
        }
        .error {
          margin: 10px;
          height: 250px;
          background: gray;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
    }
      .nav{
        visibility: hidden;
        &.active{
          visibility: visible;
        }
        button{
            z-index: 2;
            width: 60px;
            height: 60px;
            position: absolute;
            color: #000;
            top: 50%;
            border: none;
            background: transparent;
            transform: translateY(-50%);
            transition: color .2s cubic-bezier(.54,.01,.1,1);
            i {
              font-size: 3rem;
            }
            &:hover{
              color: #aaa;
              cursor: pointer;
            }
            &.prev{
              left: 0;
            }
            &.next{
              right: 0;
            }
        }
        .hide{
          display: none;
        }
      }
    }
}

@keyframes shine {
    to {
      background-position-x: -200%;
    }
  }
@keyframes cardFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}  