@import url('https://fonts.googleapis.com/icon?family=Material+Icons'); 
/* Css Reset*/
* {
    padding: 0;
    margin: 0;
  }

html,body{
    margin: 0;
    padding: 0;
    background:#eeeeee;
}
html { font-size: 16px; }
.container {
    max-width: 1200px;
    margin: 0 auto;
  }